In [1]:
#Importing the required libraries

import sqlite3
from sqlite3 import Error

### Creating LibraryDatabase

In [2]:
#Creating a connection object for creating LibraryDatabse using connect() function of the sqlite3 module

conn = sqlite3.connect('LibDatabase.db')

In [3]:
#Creating cursor object by using cursor() method

cursor = conn.cursor()

### Creating "Users" table in Library Database

In [4]:
#Using connect, cursor and execute method of sqlite python to create users table

conn = sqlite3.connect("LibDatabase.db")
cur = conn.cursor()
cur.execute('''CREATE TABLE users_table
               (id integer PRIMARY KEY, full_name text, enabled text, last_name text)''')
print("Table created successfully........")
conn.commit()
conn.close()

Table created successfully........

### Creating "Addresses" table in Library Database

In [5]:
#Using connect, cursor, and execute method of sqlite python to create addresses table

conn = sqlite3.connect("LibDatabase.db")
cur = conn.cursor()
cur.execute('''CREATE TABLE addresses_table
               (user_id integer, street varchar(20), city text, state text, PRIMARY KEY (user_id),FOREIGN KEY (user_id) REFERENCES users_table(id))''')

print("Table created successfully........")
conn.commit()
conn.close()

Table created successfully........

### Creating "books" table

In [6]:
#Creating books table in the library database

conn = sqlite3.connect("LibDatabase.db")
cur = conn.cursor()
cur.execute('''CREATE TABLE books_table
               (id integer, title text, author text, published_date datetime, isbn char(12), PRIMARY KEY(id), UNIQUE(isbn))''')

print("Table created successfully........")
conn.commit()
conn.close()

Table created successfully........

### Creating "reviews" table in Library database

In [7]:
conn = sqlite3.connect("LibDatabase.db")
cur = conn.cursor()
cur.execute('''CREATE TABLE reviews_table
               (id integer, book_id integer, reviewer_name varchar(255), content varchar(255), rating integer, published_date datetime, PRIMARY KEY(id), FOREIGN KEY(book_id) REFERENCES books_table(id))''')

print("Table created successfully........")
conn.commit()
conn.close()

Table created successfully........

### Creating "checkouts" table in library database

In [8]:
#Using connect, cursor and execute method of sqlite python to create "checkouts"

conn = sqlite3.connect("LibDatabase.db")
cur = conn.cursor()
cur.execute('''CREATE TABLE checkouts_table
               (id integer, user_id integer, book_id integer, checkout_date datetime, return_date datetime, PRIMARY KEY (id), 
               FOREIGN KEY (user_id) REFERENCES users_table(id), FOREIGN KEY (book_id) REFERENCES books_table(id))''')

print("Table created successfully........")
conn.commit()
conn.close()

Table created successfully........

### Inserting content into "users_table" table

In [10]:
#inserting content into users table 

conn = sqlite3.connect("LibDatabase.db")
cur = conn.cursor()
cur.execute("INSERT INTO users_table (id, full_name, enabled, last_name) VALUES (1,'John Smith','f', '2017-10-25 10:26:10:015152')")

cur.execute("INSERT INTO users_table (id, full_name, enabled, last_name) VALUES (2,'Alice Walker','t', '2017-10-25 10:26:50:295461')")

cur.execute("INSERT INTO users_table (id, full_name, enabled, last_name) VALUES (3,'Harry Potter','t', '2017-10-25 10:26:50:295461')")

cur.execute("INSERT INTO users_table (id, full_name, enabled, last_name) VALUES (4,'Jane Smith','t', '2017-10-25 10:36:43:324015')")

conn.commit()
conn.close()

### Inserting content into "addresses_table"

In [12]:
#inserting content into addresses table

conn = sqlite3.connect("LibDatabase.db")
cur = conn.cursor()
cur.execute("INSERT INTO addresses_table (user_id, street, city, state) VALUES (1,'1 Market Street','San Francisco','CA')")

cur.execute("INSERT INTO addresses_table (user_id, street, city, state) VALUES (2,'2 Elm Street','San Francisco','CA')")

cur.execute("INSERT INTO addresses_table (user_id, street, city, state) VALUES (3,'3 Main Street','Boston','MA')")

conn.commit()
print("Records inserted........")

conn.close()

Records inserted........

### Inserting content into "books_table"

In [13]:
#inserting content into books table

conn = sqlite3.connect("LibDatabase.db")
cur = conn.cursor()
cur.execute("INSERT INTO books_table (id, title, author, published_date, isbn) VALUES (1,'My First SQL Book','Mary Parker','2012-02-22 12:08:17.320053-03', '981483029127')")

cur.execute("INSERT INTO books_table (id, title, author, published_date, isbn) VALUES (2,'My Second SQL Book','John Mayer','1972-07-03 09:22:45.050088-07', '857300923713')")

cur.execute("INSERT INTO books_table (id, title, author, published_date, isbn) VALUES (3,'My Third SQL Book','Cary Flint','2015-10-18 14:05:44.547516-07', '523120967812')")

conn.commit()
print("Records inserted........")

conn.close()

Records inserted........

### Inserting content into "reviews_table"

In [14]:
#inserting content into reviews table

conn = sqlite3.connect("LibDatabase.db")
cur = conn.cursor()
cur.execute("INSERT INTO reviews_table (id, book_id, reviewer_name, content, rating, published_date) VALUES (1, 1, 'John Smith','My first review', 4 , '2017-12-10 05:50:11.127281-02')")

cur.execute("INSERT INTO reviews_table (id, book_id, reviewer_name, content, rating, published_date) VALUES (2, 2, 'John Smith','My Second review', 5, '2017-10-13 15:05:12.673382-05')")

cur.execute("INSERT INTO reviews_table (id, book_id, reviewer_name, content, rating, published_date) VALUES (3, 2, 'Alice Walker','Another review', 1, '2017-10-22 23:47:10.407569-07')")

conn.commit()
print("Records inserted........")

conn.close()

Records inserted........

### Inserting content into "checkouts_table"

In [16]:
#inserting content into checkouts table

conn = sqlite3.connect("LibDatabase.db")
cur = conn.cursor()
cur.execute("INSERT INTO checkouts_table (id, user_id, book_id, checkout_date, return_date) VALUES (1, 1, 1, '2017-10-15 14:43:18.095143-07', NULL)")

cur.execute("INSERT INTO checkouts_table (id, user_id, book_id, checkout_date, return_date) VALUES (2, 1, 2, '2017-10-05 16:22:44.593188-07', '2017-10-13 13:0:12.673382-05')")

cur.execute("INSERT INTO checkouts_table (id, user_id, book_id, checkout_date, return_date) VALUES (3, 2, 2, '2017-10-15 11:11:24.994973-07', '2017-10-22 17:47:10.407569-07')")

cur.execute("INSERT INTO checkouts_table (id, user_id, book_id, checkout_date, return_date) VALUES (4, 5, 3, '2017-10-15 09:27:07.215217-07', NULL)")

conn.commit()
print("Records inserted........")

conn.close()

Records inserted........

## Extracting all the data from all tables

### Extracting all data from "users_table"

In [17]:
#Extracting all data from users_table

conn = sqlite3.connect("LibDatabase.db")
cur =  conn.cursor()
for one in cur.execute('SELECT * FROM users_table'):
        print(one)

(1, 'John Smith', 'f', '2017-10-25 10:26:10:015152')
(2, 'Alice Walker', 't', '2017-10-25 10:26:50:295461')
(3, 'Harry Potter', 't', '2017-10-25 10:26:50:295461')
(4, 'Jane Smith', 't', '2017-10-25 10:36:43:324015')

### Extracting all data from "addresses_table"

In [18]:
#Extracting all data from addresses table

conn = sqlite3.connect("LibDatabase.db")
cur = conn.cursor()
for two in cur.execute('SELECT * FROM addresses_table'):
        print(two)

(1, '1 Market Street', 'San Francisco', 'CA')
(2, '2 Elm Street', 'San Francisco', 'CA')
(3, '3 Main Street', 'Boston', 'MA')

### Extracting all data from "books_table"

In [19]:
#Extracting all data from books_table

conn = sqlite3.connect("LibDatabase.db")
cur = conn.cursor()
for three in cur.execute('SELECT * FROM books_table'):
        print(three)

(1, 'My First SQL Book', 'Mary Parker', '2012-02-22 12:08:17.320053-03', '981483029127')
(2, 'My Second SQL Book', 'John Mayer', '1972-07-03 09:22:45.050088-07', '857300923713')
(3, 'My Third SQL Book', 'Cary Flint', '2015-10-18 14:05:44.547516-07', '523120967812')

### Extracting all data from "reviews_table"

In [20]:
#Extracting all data from reviews_table

conn = sqlite3.connect("LibDatabase.db")
cur = conn.cursor()
for four in cur.execute('SELECT * FROM reviews_table'):
        print(four)

(1, 1, 'John Smith', 'My first review', 4, '2017-12-10 05:50:11.127281-02')
(2, 2, 'John Smith', 'My Second review', 5, '2017-10-13 15:05:12.673382-05')
(3, 2, 'Alice Walker', 'Another review', 1, '2017-10-22 23:47:10.407569-07')

### Extracting all data from "checkouts_table"

In [21]:
#Extracting all data from checkouts_table

conn = sqlite3.connect("LibDatabase.db")
cur = conn.cursor()
for five in cur.execute('SELECT * FROM checkouts_table'):
        print(five)

(1, 1, 1, '2017-10-15 14:43:18.095143-07', None)
(2, 1, 2, '2017-10-05 16:22:44.593188-07', '2017-10-13 13:0:12.673382-05')
(3, 2, 2, '2017-10-15 11:11:24.994973-07', '2017-10-22 17:47:10.407569-07')
(4, 5, 3, '2017-10-15 09:27:07.215217-07', None)

# Querying Data

### Finding the title, author and isbn of the books that "john smith" has checked out

In [22]:
#Finding the title, author and isbn of the books that "john smith" has checked out

conn = sqlite3.connect("LibDatabase.db")
cur = conn.cursor()

cur.execute('''SELECT title, author, isbn FROM books_table INNER JOIN checkouts_table ON checkouts_table.book_id = books_table.id 
INNER JOIN users_table ON users_table.id = checkouts_table.book_id WHERE user_id = 1''')



print("The title, author and isbn of books that john smith has checked out are:", cur.fetchall())

conn.commit()
conn.close()

The title, author and isbn of books that john smith has checked out are: [('My First SQL Book', 'Mary Parker', '981483029127'), ('My Second SQL Book', 'John Mayer', '857300923713')]

### Find all reviewers for the book "My Third SQL book"

In [24]:
#Finding all reviewers for the book "My Third SQL book"

conn = sqlite3.connect("LibDatabase.db")
cur = conn.cursor()

cur.execute('''SELECT reviewer_name FROM reviews_table INNER JOIN books_table ON books_table.id = reviews_table.id WHERE book_id = 3 ''')

print("All reviewers for the book My third SQL book:", cur.fetchall())

conn.commit()
conn.close()

All reviewers for the book My third SQL book: []

<span style="color:red">No one has reviewed My third SQL book</span>

### Finding the users that have no books checked out

In [25]:
#Finding the users that have no books checked out

conn = sqlite3.connect("LibDatabase.db")
cur = conn.cursor()

cur.execute('''SELECT full_name FROM users_table INNER JOIN checkouts_table ON checkouts_table.id = users_table.id WHERE users_table.id = 3''')

print("Users that have no books checked out:", cur.fetchall())

conn.commit()
conn.close()

Users that have no books checked out: [('Harry Potter',)]

<span style="color:blue">Harry Potter did not check out any book</span>

# Thank You